<div class="bg-white w-[500px] h-auto p-[30px] rounded-3xl shadow-lg">
    <div class="w-full  h-auto text-center mb-[50px]">
        <h1 class="text-[45px] font-semibold">Registro</h1>
        <p class="text-[12px] -m-[5px] text-neutral-500">Registrate y forma parte de la familia Mentorium</p>
    </div>
    <form action="" class="flex flex-col">
        <input class="mb-[18px] border-b-[1px] border-[#107acc] px-[5px] py-[2px] focus:outline-none" type="text" placeholder="Nombre completo">
        <input class="mb-[18px] border-b-[1px] border-[#107acc] px-[5px] py-[2px] focus:outline-none" type="text" placeholder="Usuario">
        <input class="mb-[18px] border-b-[1px] border-[#107acc] px-[5px] py-[2px] focus:outline-none" type="text" placeholder="Correo electronico">
        <input class="mb-[18px] border-b-[1px] border-[#107acc] px-[5px] py-[2px] focus:outline-none" type="password" placeholder="Contraseña">
        <input class="mb-[18px] border-b-[1px] border-[#107acc] px-[5px] py-[2px] focus:outline-none" type="password" placeholder="Repete la contraseña">
        <div class="flex items-center px-[5px] mt-[20px] mb-[25px]">
            <input type="checkbox">
            <label class="ml-[10px] text-[13px]" for="">Acepta Terminos y Licencias</label>
        </div>
        <button class="bg-[#107acc] h-[50px] text-white text-[20px] font-semibold rounded-2xl w-[200px] m-auto 
        hover:bg-white hover:text-[#107acc] border-[2px] hover:shadow-lg transition" type="submit">
            Registrar
        </button>
        <span class="mt-7">¿Ya tienes cuenta? <a routerLink="/login" class="underline text-blue-600">Inicia sesión</a></span>
    </form>

</div>
