<div class="flex justify-center items-center h-screen">
  <div class="bg-white w-[500px] h-auto p-[30px] rounded-3xl shadow-lg">
    <div class="w-full h-auto text-center flex flex-col items-center  -mt-[15px] mb-2">
      <h1 class="text-[40px] font-semibold font-sans">¡Regístrate!</h1>
      <p class="text-[16px] font-sans m-[3px] text-gray-900 font-[350]">
        Registrate y forma parte de la familia Mentorium
      </p>
      <!-- <app-google-button (onClick)="submitWithGoogle()"/> -->
    </div>
    <form class="flex flex-col w-[95%] mx-auto gap-2" [formGroup]="form" (ngSubmit)="submit()">
      <div class="flex flex-col">
        <label class="text-[15px] text-gray-900 font-semibold">Usuario:</label>
        <input
          class="mt-[7px] border-[1px] border-[#b1c4d3] px-[12px] py-[9px] focus:outline-blue-400 shadow font-[350] font-sans text-[16px] rounded-lg"
          type="text" placeholder="Ingresa tu usuario" name="username" formControlName="username" />
        <div class="h-auto"></div>
      </div>

      <div class="flex flex-col">
        <label class="text-[15px] text-gray-900 font-semibold">Nombre:</label>
        <input
          class="mt-[7px] border-[1px] border-[#b1c4d3] px-[12px] py-[9px] focus:outline-blue-400 shadow font-[350] font-sans text-[16px] rounded-lg"
          type="text" placeholder="Ingresa tu nombre" name="name" formControlName="name" autocomplete="off" />
        <div class="h-auto"></div>
      </div>

      <div class="flex flex-col">
        <label class="text-[15px] text-gray-900 font-semibold">Correo electrónico:</label>
        <input
          class="mt-[7px] border-[1px] border-[#b1c4d3] px-[12px] py-[9px] focus:outline-blue-400 shadow font-[350] font-sans text-[16px] rounded-lg"
          type="text" placeholder="Ingresa tu correo electrónico" name="email" formControlName="email"
          autocomplete="off" />
        <div class="h-auto">
          @if (isRequired('email')) {

          <small class="text-red-500 font-sans">Este campo es requerido</small>
          } @if (hasEmailError()) {

          <small class="text-red-500">El correo debe ser valido </small>
          }
        </div>
      </div>

      <div class="flex flex-col">
        <label class="text-[15px] text-gray-900 font-semibold">Contraseña:</label>
        <input
          class="mt-[7px] border-[1px] border-[#b1c4d3] px-[12px] py-[9px] focus:outline-blue-400 shadow font-[350] font-sans text-[16px] rounded-lg"
          type="password" placeholder="Ingresa una contraseña" name="password" formControlName="password"
          autocomplete="off" />
        <div class="h-auto">
          @if (isRequired('password')) {

          <small class="text-red-500">Este campo es requerido</small>
          }
        </div>
      </div>
      <div class="flex flex-col">
        <label class="text-[15px] text-gray-900 font-semibold">Confirme contraseña:</label>
        <input
          class="mt-[7px] border-[1px] border-[#b1c4d3] px-[12px] py-[9px] focus:outline-blue-400 shadow font-[350] font-sans text-[16px] rounded-lg"
          type="password" placeholder="Repite la contraseña" name="repeatPassword" formControlName="repeatPassword"
          autocomplete="off" />
        <div class="h-auto"></div>

      </div>

      <div class="flex items-center px-[5px] mt-1">
        <input type="checkbox" class="size-4 " />
        <label class="text-[15px] font-[350] text-gray-900 ml-3.5" for="">He leído y acepto los <a
            routerLink="/auth/register" class=" text-blue-600">terminos y condiciones</a></label>
      </div>
      <button [disabled]="loading()"
        class="bg-[#0075FF] h-[45px] text-white text-[20px] font-[450] font-sans rounded-lg hover:bg-[#005FCC] border-[2px] cursor-pointer transition-colors border-none w-full mt-2 flex items-center justify-center">

        <span *ngIf="loading()" class="inline-block mr-2">
          <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
        </span>

        {{ loading() ? '' : 'Continuar' }}
      </button>
      <span class="mt-2 text-[16px] text-gray-900 font-[350]">¿Ya tienes cuenta?
        <a routerLink="/auth/login" class=" text-blue-600">Inicia sesión</a></span>
    </form>
  </div>
</div>