<section class="mx-auto w-full max-w-screen-sm px-4">
    <div class="bg-white rounded-xl shadow-lg border border-gray-200 p-8">
        <form class="flex flex-col gap-6" [formGroup]="form" (ngSubmit)="submit()">
            <div class="flex flex-col">
                <label for="titulo" class="text-[15px] text-[#2a5f6b] font-semibold mb-2">Título:</label>
                <input
                    class="border-[1px] border-[#6bb6c7] px-[12px] py-[12px] focus:outline-none focus:ring-2 focus:ring-[#6bb6c7]/20 focus:border-[#3a8a9c] shadow-sm font-medium text-[16px] rounded-lg transition-all duration-200"
                    type="text" placeholder="Ingresa el título de la tarea" name="title" formControlName="title" />
                @if (form.controls['title'].invalid && form.controls['title'].touched) {
                <small class="text-red-500 font-medium mt-1">Este campo es requerido</small>
                }
            </div>

            <div class="flex flex-col">
                <label class="inline-flex items-center cursor-pointer">
                    <input formControlName="completed" type="checkbox" value="" class="sr-only peer">
                    <div
                        class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[#6bb6c7]/30 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-[#3a8a9c]">
                    </div>
                    <span class="ms-3 text-sm font-semibold text-[#2a5f6b]">Completado</span>
                </label>
            </div>

            <button type="submit"
                class="bg-[#3a8a9c] h-[45px] w-[200px] text-white text-[20px] font-semibold rounded-lg hover:bg-[#2a5f6b] cursor-pointer transition-all duration-300 shadow-lg hover:shadow-xl">
                Cargar tarea
            </button>
        </form>
    </div>
</section>